/*-------body & positioning--------*/
h1{
	text-align: center;
}


/*-------text---------*/
h1{
	font-size: 40px;
}


/*-------table---------*/
/* tr=rows td=cell in row */
section{
	display: block;
	margin: 0 auto;
	width:458px;
	height:500px;
}
div.row{
	display: block;
	margin: 0 auto;
	width:480px;
	height: 160px;
}
div.cell{
	margin:0 auto;
	display: inline-block;
	text-align: center;
	display: block;
	width:150px;
	height:150px;
	border: 2px #333333 solid;
	background: red;
}

input{
	width:150px;
	height: 150px;
}


/*--------x's and o's--------*/
.ex{
background: blue;
}
.oh{
background: red;
}


/*--------buttons--------*/
.btn{
	display: block;
	margin: 17px auto;
	color: white;
	background: red;
	font-size: 14px;
	width: 60px;
	height: 35px;
}