/*-------body & positioning--------*/
h1{
	text-align: center;
}


/*-------text---------*/
h1{
	font-size: 40px;
}


/*-------table---------*/
/* tr=rows td=cell in row */
table{
	display: block;
	margin: 0 auto;
	width:458px;
}
tr{
	display: block;
	margin: 0 auto;
	width:458px;
}
td{
	margin:0 auto;
	text-align: center;
	width:150px;
	height:150px;
	border: 2px #333333 solid;
}
td a{
	display: block;
	width: 100%;
	height: 100%;
}



/*--------x's and o's--------*/




/*--------buttons--------*/
.btn{
	display: block;
	margin: 17px auto;
	color: white;
	background: red;
	font-size: 14px;
	width: 60px;
	height: 35px;
}